@import '../../styles/variables';

.header {
  background-color: #000000;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  transform: translateZ(0);

  &--hidden {
    transform: translateY(-100%);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
  }

  &__nav-left {
    display: flex;
    align-items: center;
    margin-left: -1rem;
  }

  &__nav-logo {
    display: flex;
    align-items: center;

    img {
      height: 35px;
      width: auto;
      object-fit: contain;
      margin-top: 0px;
    }
  }

  &__nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__nav-link {
    text-decoration: none;
    color: #b0b0b0;
    font-size: $font-size-base;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: #ffffff;
    }
  }
}